<nav data-th-fragment="navbar"
  class="bg-white border-gray-900 shadow-sm dark:bg-gray-900 grid grid-cols-1 md:grid-cols-2 md:justify-items-center md:items-center">
  <div class="flex justify-center gap-1">
    <img data-th-src="@{'/images/telephone.png'}" class="h-12 shadow rounded-full p-2" alt="Flowbite Logo" />
    <!-- brand -->
    <a data-th-href="@{'/'}">
      <span class="text-4xl font-semibold whitespace-nowrap dark:text-white" th:text="#{project_title}">Sample
        title</span>
    </a>
    <!-- end of brand logo -->
  </div>
  <div>

    <!-- login logout light dark -->
    <div class="flex justify-between md:self-end">
      <!-- icons to open menu on small screen -->
      <button data-collapse-toggle="navbar-cta" type="button"
        class="text-lg text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none  focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600 absolute top-3 right-2"
        aria-controls="navbar-cta" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15" />
        </svg>
      </button>
    </div>
    <!-- end login logout light dark -->
    <!-- menus  start -->
    <div class="hidden" id="navbar-cta">
      <ul
        class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a data-th-text="#{home_text}" data-th-href="@{'/home'}"
            class="block py-2 px-3 md:p-0 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:dark:text-blue-500"
            aria-current="page">Home</a>
        </li>
        <li data-th-if="${loggedInUser}">
          <a th:text="#{dashboard_text}" data-th-href="@{'/user/dashboard'}"
            class="block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">About</a>
        </li>
        <li data-th-if="${loggedInUser}">
          <a data-th-text="#{profile_text}" data-th-href="@{'/user/profile'}"
            class="block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Services</a>
        </li>
        <li data-th-if="${loggedInUser}">
          <a th:text="#{add_contact_text}" data-th-href="@{'/user/contacts/add'}"
            class="block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Contact
            Details</a>
        </li>
        <li data-th-if="${loggedInUser}">
          <a th:text="#{dashboard_text}" data-th-href="@{'/user/dashboard'}" data-th-unless="${loggedInUser}"
            class="block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Dashboard</a>
        </li>
        <li data-th-unless="${loggedInUser}">
          <a th:text="#{login_text}" data-th-href="@{'/login'}"
            class="block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Dashboard</a>
        </li>
        <li data-th-if="${loggedInUser}">
          <form method="post" data-th-action="@{'/do-logout'}">
            <button th:text="#{logout_text}" type="submit"
              class="block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700 w-full text-start">Dashboard</button>
          </form>
        </li>
        <li>
          <button id="theme_change_button"
            class="w-full  block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700 text-start"><span>Light </span></button>
        </li>
      </ul>
    </div>
    <!-- menu end -->
  </div>
</nav>